{% block field_row %}
{% spaceless %}
{% set class = {'class': 'required' } %}
{% if ((id |length == 31) or (id |length == 38))   %}
{% set class = {'class':'required'} %}
{% endif %}

    <tr><td class="title" valign="top">
        <label for="{{ id }}">{{ id|trans([], 'FOSUserBundle') }}</label>
    </td>
    <td>
		{{ form_widget(form, { 'attr': class }) }}
    </td>   
    </tr>
{% endspaceless %}
{% endblock field_row %}