@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#666666;
	background-color:#FFFFFF;
	}


/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	text-align:left;
	clear: both;
	}

h1{
	color: #FFFFFF;
    font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 0 61px;
	
	}
	
	/*este si se usa*/

.col0{
	color:#999999; 
	background-color:#333333;
	height:209px;
	background-repeat:repeat-x;
	background-image: url(../images/back_h.jpg);	
	}


#formulario{
	background-image: url("../images/back_4_h.jpg");
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 6px 19px #000000;
    height: 212px;
    margin: -30px auto 0;
    position: inherit;
    width: 317px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:10px 0 20px;
	/*z-index:1000;*/
	width: 960px;
	height: 172px;
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

#header h1, #header p, #header ul{
	margin:0;
	/*padding:0;*/
	list-style:none;
	line-height:normal;
	}

#logo{
	background-image:url(../images/header.png);
	width:960px;
	height:209px;
	}

#header #logo{
	display:block;
	margin-top:7px;
	overflow:hidden;
	/*margin:auto;*/
	}


#header #logo h1 a{
	font-size:46px;
	color:#999999;
	background-color:#000000;
	}

#header h1 strong{
	font-weight:normal;
	color:#FFFF00;
	background-color:#000000;
	}

#header #logo p{
	text-align:right;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase;
	}

/* ----------------------------------------------Content-------------------------------------*/

.container{
	padding:20px 0;
	}

#body_bg{
	background-image: url("../images/back_1_h.jpg");
    display: block;
    float: left;
    height: 175px;
    position: relative;
    width: 100%;
	}
	

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	background-image: url("../images/back_2_h.jpg");
    height: 173px;
    margin-top: 175px;
    position: inherit;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	background-image: url("../images/back_3_h.jpg");
    background-repeat: repeat-x;
    font-size: 10px;
    height: 51px;
    padding-top: 16px;
	}

#copyright p{
	margin:0;
	padding:0;
	}
	
	
/* ----------------------------------------------login-------------------------------------*/
	
#login-form
{
        padding-top:5px
}

#login-form fieldset
{
        padding:0px;

}

#login-form .inputbox
{
        padding:2px
}

#login-form fieldset.input
{
        padding:10px 0 0 0;
        margin:0px 0 10px 5px
}

#login-form label
{
        margin-right:10px;
        width:8.4em;
        display:block;
        float:left
}

	
/* ----------------------------------------------form-------------------------------------*/


label
{
text-align: right;
display: block
}


.texto-menu
{
	background: none repeat scroll 0 0 #700002;
    border: 1px solid #D12C2C;
    box-shadow: 3px 3px 5px #410001 inset;
    color: #CCBDBD;
    margin-bottom: 10px;
    padding: 5px;
    width: 130px;
}


fieldset
{
border: 1px solid #781351;
}

legend
{
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
padding: 2px 6px
} 




.content{
	display:block;
	float:left;
	width:630px;
	}
	
#caja{
	padding-top: 18px;}
	
#button_enter{
	background-color: #8F0507;
    background-image: url("../images/button_enter.png");
    border: 0 none;
    color: #FFFFFF;
    height: 29px;
    margin-left: 167px;
    width: 80px;
	font: font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
	color:#FFF;
	font-weight:normal;
	margin-top:10px;
	
	}

#texto_gris a{
	color:#FFF;
	font-family:font: font-family: "ArmataRegular","Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:normal;}
	
