{% extends 'PaymentApplicationBundle::layoutLogin.html.twig' %}
{% block title %}Clave ya solicitada - {{ parent() }} {% endblock %}

{% block content %}
  <div id="barra6">
        <div id="caja-login">
            <div id="caja" class="texto_blanco">
{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
</div>
</div></div>
{% endblock %}
