{% extends 'PaymentApplicationBundle::layoutLogin.html.twig' %}

{% block title %}Clave Exitosa - {{ parent() }} {% endblock %}

{% block content %}
  <div id="barra6">
        <div id="caja-login">
            <div id="caja" class="texto_blanco">
			<div style="text-align: justify;">
			El proceso de recuperaci&oacute;n de contrase&ntilde;a ha sido ejecutado exitosamente. 
			Desde ahora ya puedes ingresar al sistema con tu nueva contrase&ntilde;a.
			</div>
			<form action="{{ path('fos_user_security_login') }}" method="post" >
            <p align="center">
            <input id="btsend" type="submit" value="Aceptar" class="btsend">
            </p>
        </form>
</div>
</div></div>
{% endblock content %}

