{% extends 'PaymentApplicationBundle::layoutLogin.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block content %}

<div id="loguot">
    <b>Ha cerrado su sesi&oacute;n con &eacute;xito.</b>
    <br/>
    <br/>
    <a href="login" class="texto_vino">Volver a Iniciar Sesi&oacute;n</a>
</div>
{% endblock %}